<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

  <!-- Favicon-->
  <link rel="icon" type="image/svg" href="{{ url_for('static', filename='cash-machine.svg') }}">
  <title>Cashbox</title>
</head>


<body>
  {% block body %}

  {% endblock %}
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>