{% extends 'base.html' %}

{% block body %}
{% include 'header.html' %}

    <div class="container p-2 mt-4">
        <div class="row g-4 justify-content-md-center">

            <div class="col-lg-4">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                    <h4 class="card-title">Users</h4>
                    <!-- h6 class="card-subtitle mb-2 text-muted">Users list</h6 -->
                    <table class="table table-dark table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.1 }}</td>
                            <td>{{ user.2 }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            

            <div class="col-lg-8">

                <!-- Flask flash() function -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </symbol>
                    </svg>

                    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                            <use xlink:href="#check-circle-fill"/>
                        </svg>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="card">
                    <div class="card-body" >
                    <div class="table-responsive">
                    <h4 class="card-title">Expenses</h4>
                    <!-- h6 class="card-subtitle mb-2 text-muted">Users list</h6 -->
                    <!-- p class="card-text">Some quick example text.</p -->
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Text</th>
                            <th scope="col">Date</th>
                            <th scope="col">Approved</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for exp in expense %}
                        <tr>
                            <td>{{ exp[0] }}</td>
                            <td>{{ exp[1] }}</td>
                            <td>{{ exp[2] }}</td>
                            <td>{{ exp[3] }}</td>
                            <td>{{ exp[4] }}</td>
                            <td>
                            {% if exp.4 %}
                                <a href="/update/{{ exp[0] }}" class="btn btn-secondary disabled">Done</a>
                            {% else %}
                                <a href="/update/{{ exp[0] }}" class="btn btn-success">Approve</a>           
                            {% endif %}

                            <td></td>
                        </tr>
                        </form>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}